
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<main id="main" aria-label="Content" tabindex="-1">
    <div class="program-header" style="background-image: url('${program["image"]}') !important;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-8 col-xl-5 offset-xl-1 p-xl-0 program-header-column">
                    <h2 class="program-title">${program["name"]}</h2>
                    <p class="program-subtitle">${program["subtitle"]}</p>
                    % if program["video"]:
                    <a href="${program['video']}" data-lity class="button-modal">Platform Overview</a>
                    % endif
                </div>
            </div>
        </div>
    </div>

    <div class="program-description container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-0 col-xl-4 offset-xl-1 text-info p-xl-0">
                <div class="program-overview-container">
                    <h3 class="title-main text-xs-center">Program Overview</h3>

                    <p>${program["full_description"]}</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-8 offset-sm-2 col-md-8 offset-md-2 col-lg-6 offset-lg-0 offset-xl-1 col-xl-5 program-info-column">
                <div class="program-info-card">
                    
                <header class="program-info-card-header">
                    <h3 class="section-heading">Program Details</h3>
                </header>
                <main class="program-info-card-body container">
                    <div class="row">
                        <div class="col-sm-6 card-key"><i class="fa fa-hourglass"></i><span>Average Length:</span></div>
                        <div class="col-sm-6 card-value">${program["length"]}</div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6 card-key"><i class="fa fa-tachometer"></i><span>Effort:</span></div>
                        <div class="col-sm-6 card-value">${program["effort"]}</div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 card-key"><i class="fa fa-graduation-cap"></i><span>Subject:</span></div>
                        <div class="col-sm-6 card-value">Software Development</div>
                    </div>
                    
                </main></div>
            </div>
        </div>
    
        
    </div>
    
    <div class="course-list">
        <div class="container">

            % for course in program["modules"]:
                <div class="row">
                    <article class="program-course col-xs-12 col-sm-10 offset-sm-1 col-xl-10 offset-xl-1" id="${course['course_key']}" role="region" aria-label="${course['course'].display_name}">
                        <div class="inner-article">
                            <div class="row">
                                <div class="col-lg-3 text-center p-xl-0">
                                    <header class="course-image">
                                        <div class="cover-image">
                                            <img src="${course['course_image']}">
                                        </div>
                                    </header>
                                </div>
                                <div class="col-lg-8 p-xl-0">
                                    <div class="course-info" aria-hidden="true">
                                        <div class="course-name">
                                            <a href="/courses/${course['course_key']}/info" aria-hidden="true">
                                                <h3 class="program-course-title section-heading">${loop.index + 1}. ${course['course'].display_name}</h3>
                                            </a>
                                            <p class="program-course-desc">${course['course'].short_description}</p>
                                        </div>
                                    </div>
                                <a href="/courses/${course['course_key']}/info" class="button-cta" aria-hidden="true">Go To Module</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            % endfor
        </div>
    </div>
</main>

