<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%def name="online_help_token()"><% return "progress" %>
    </%def>
    <%!
from course_modes.models import CourseMode
from lms.djangoapps.certificates.models import CertificateStatuses
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
from django.core.urlresolvers import reverse
from django.conf import settings
from django.utils.http import urlquote_plus
%>
        <%block name="bodyclass">view-in-course view-progress</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
</%block>

<%include file="/courseware/course_navigation.html" args="active_page='progress'" />

<main id="main" aria-label="Content" tabindex="-1" class="support-page">
  <div class="container">

      <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
          <section class="slack-page" id="slack-page">

              <nav class="top-navigation">
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-12 text-center">
                              <h3>Slack Community</h3>
                              <a href="${reverse('support', kwargs={'course_id': course.id})}" class="btn-back"><i class="fa fa-caret-left" aria-hidden="true"></i> <span>Back to Support Page</span></a>
                          </div>
                      </div>
                  </div>
              </nav>

              <div class="subpage-main-column">

                  <header class="subpage-header">
                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-sm-10 offset-sm-1">
                                  <h5 class="welcome-heading">Hi <em>${user.username}</em>. Welcome to your slack community</h5>
                              </div>
                          </div>
                      </div>
                  </header>

                  <section class="subpage-content">
                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-sm-10 offset-sm-1 text-center">
                                  <a href="https://slack.com" target="_blank" class="btn-orange d-xs-block d-sm-inline-block btn-left"><i class="fa fa-globe" aria-hidden="true"></i>View in Browser</a>
                              </div>
                          </div>
                      </div>
                  </section>

              </div>
              <!--subpage-main-column-->

          </section>
          <!-- slcak page-->
      </div>
</main>
